<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/cars">Lista samochodów</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/carAdd">Dodaj Auto<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://robertburek.pl" target="_blank">Autor</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="/car/carFind" th:object="${carFind}">
                <input class="form-control mr-sm-2" type="search" placeholder="Marka" th:field="*{brand}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
        </div>
    </nav>

    <p></p>
    <h2>Tablica samochodów</h2>
    <p>Lista samochodów z bazy danych sql na WEBD aplikacja web-spring</p>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>VIN</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Edit</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${carListModel}">
            <td th:text="${car.id}"/>
            <td th:text="${car.vin}"/>
            <td th:text="${car.brand}"/>
            <td th:text="${car.model}"/>
            <td><a th:href="@{/carEdit(carId=${car.id})}">Edit</a></td>
            <td><a th:href="@{/carDelete(carId=${car.id})}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-dark" role="alert">
        Projekt w ramach kursu Altkom, wykonany przez
        <a href="http://www.robertburek.pl" class="alert-link">Roberta Burka</a>
    </div>
</div>
</body>
</html>